<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet"type="text/css" href="/home.css">
</head>
<body>
    <div class="background">
        <div class = "top-navbar">
            <a href="#introblock-one" class = "navbar-links">Background</a>
            <a href="https://github.com/QuanyongBi" class = "navbar-links">Projects</a>
            <a href="art_page.html" class = "navbar-links">Arts</a>
            <a href="#introblock-one" class = "navbar-links">Contact</a>
            <a href="/Quanyong_Bi_Resume.pdf" download="DontSharePlz" class = "navbar-links">resume</a>
        </div>

        <div class = "intro-block">
            <div class = "back-text-0">0.</div>
            <div id = "introblock-one">
                Hi 你好
            </div>
            <div class = "introblock-two">
                I'm Quanyong Bi
            </div>
            <div class = "introblock-three">
                I'm a creative, curious, spontaneous, evolving developer currently studying in USC Viterbi.<br>
                # OpenToInternship
            </div>
            <div>
                <img src="/self-pic-stage.jpg" class="self-pic-stage">
            </div>
        </div>


    </div>
</body>
</html>